{% extends "Blankdb/base.html" %}

{% block head_static %}
{% load static %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="module" src="{% static 'Blankdb/javascript/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'Blankdb/css/chartingData.css' %}">
<link rel="stylesheet" href="{% static 'Blankdb/css/index.css' %}">

<script src="{% static 'Blankdb/javascript/helps.js' %}"></script>



{% endblock %}

{% block title_local %}
{{ organism }}
{% endblock %}




{% block navSec-specieInfo %} <a class="navSecond nav-link active" href="{% url 'Blankdb:index' %}"> {{ request.session.organism|safe }} </a> {% endblock %}

{% block body_local %}
{% load common %}


<div class="container container-fluid">
	<br>
	<div class="card">
		<div class="card-header">
			<h3 class="cardHeading"> {{ request.session.organism|safe }} </h3>
		</div>
		<div class="card-body">
			<p class="subtitle"> Database statistics: </p>
			<table class="table">
				<tr>
					<td>
						Total public isolates:
					</td>
					<td>
						 {{ isoCount }}
					 </td>
				 </tr>
				 <tr>
					 <td>
						 Total assigned:
					 </td>
					 <td>
						 {{ isoCount_assigned }}
					 </td>
				 </tr>

				 <tr>
					<td>
						<a class="btn btn-default-spe" href="{% url 'Blankdb:isolate_list' %}"> View all </a>
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
	</div>



	<br>
	<br>
	<br>
	<h4> Publicly available data:<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@puDownloadableData" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button></h4>

	<div class='container'>
		<b> Allelic profile assignments </b> <br>
		{% with apFns=downloadFns|getValue:'aps' %}
			{% if apFns %}
				<ul>
				{% for apFn in apFns %}
					<li> <a href="{% url 'Blankdb:downloadDbDump' apFn|filenameOnly %}"> {{apFn|filenameOnly}} </a> </li>
				{% endfor %}
				</ul>
			{% else %}
				<i> No files to available at the moment. </i>
			{% endif %}
		{% endwith %}
		<br> <br>
		<b> Allele sequences </b> <br>
		{% with alleleFns=downloadFns|getValue:'alleles' %}
			{% if alleleFns %}
				<ul>
					{% for alleleFn in alleleFns %}
						<li> <a href="{% url 'Blankdb:downloadDbDump' alleleFn|filenameOnly %}"> {{alleleFn|filenameOnly}} </a> </li>
					{% endfor %}
				</ul>
			{% else %}
				<i> No files to show at the moment. </i>
			{% endif %}
		{% endwith %}
	</div>

	<br>
	<br>
	<br>








	<h4> Current trends - Top five MGT sequence types<!--i class="far fa-question-circle"></i-->: <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@top5Dist" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button></h4>



	{% if mgts %}

		{% for mgt in mgts|loadjson %}

			<button id="btn_{{mgt.table_name}}" class="btn btn-default-spe btn-sm" onclick="javascript:Blankdb_getDataForCharting('{{ mgt.table_name }}', '{% url 'Blankdb:topStSummary' %}');"> {{ mgt.scheme__display_name }} </button>

		{% endfor %}
		<br>
		<br>

		<div class="columns is-gapless">
			{% for mgt in mgts|loadjson %}
				<div id="{{mgt.table_name}}" class="column bdr-default rounded" style="display: none;" height=40% width=500>

					<center>
						<h5>{{ mgt.scheme__display_name }}-ST in each continent<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@top5DistChart" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>

						</h5>
						<div id="theChart_{{mgt.table_name}}">
						</div>
					</center>
				</div>
			{% endfor %}
		</div>

	{% endif %}



	<br>
	<br>
	<br>
	<br>
	<br>


	{% include 'Blankdb/modal.html' %}
</div>


{% endblock %}



# https://bost.ocks.org/mike/bar/
