{% load common %}

<div id="isolateTable">
	<br>
	<table>
		<tr>
			<button id="apView" type="button" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_doApLayout( JSON.parse('{{isolates|escapejs}}'),  {{request.session.sessionVar}}, {{ isMgtColor|lower }}, {{ isDst|lower }}, {{colsInfo}}, {{tabAps}}, {{tabCcs}},  {{serverStatus}}, {{assignStatus}}, {{privStatus}} );"> Sequence types view</button>
		</tr>
		<tr>
			<button id="ccView" type="button" class="btn btn-default-outline-spe"  onclick="javascript:Blankdb_doCcLayout( JSON.parse('{{isolates|escapejs}}'), {{request.session.sessionVar}}, {{ isMgtColor|lower }}, {{colsInfo}}, {{tabAps}}, {{tabCcs}}, {{serverStatus}}, {{assignStatus}}, {{privStatus}} );"> Clonal complexes view</button>
		</tr>
		<tr>
			<button id="graphicalView" type="button" class="btn btn-default-spe btn-default-outline-spe"  onclick="javascript:Blankdb_handleGraphicalViewClick();">Graphical view</button>
		</tr>
		<tr>
			<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@tablesOrGraph" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>
		</tr>
	</table>
	<br>
	<br>

	{% if isolates|length == 0 %}
		No isolates here.
	{% endif %}


	<div id="graphicalViewDiv">

		<div id="graph_timeStCount" class="column bdr-default rounded padding10">
			<center>
				<h5 class="speHeading"> Visualize distribution of counts of isolates with STs, CCs or ODCs over time <i>or</i> location
					<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@graphTimeOrLoc" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>
				</h5>
			</center>
			<br>


			<center>
				<button id="btn_timeStCount" class="btn btn-default-spe" onclick="javascript:Blankdb_getTimeStCount({{tabAps}}, {{tabCcs}});"> Load data </button>
			</center>

			<div id="loading_timeStCount" style="display:none">
				Please wait, loading ...
			</div>




			<div id="btnsAndPlot_timeStCount" style="display:none">
				<div id="graph_timeStCount_btns" style="display:none">
					<center>
						<button id="graph_timeStCnt_btn_time" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_plotLvl1TimeLoc(this.id);"> Time </button>
						<button id="graph_timeStCnt_btn_loc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_plotLvl1TimeLoc(this.id);"> Location </button>
						<br>

						<button id="graph_timeStCnt_btn_st" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_plotLvl2StCcOdc(this.id);"> Sequence types </button>
						<button id="graph_timeStCnt_btn_cc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_plotLvl2StCcOdc(this.id);"> Clonal complexes </button>
						<button id="graph_timeStCnt_btn_odc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_plotLvl2StCcOdc(this.id);"> Outbreak detection clusters</button>


						<div id="graph_timeStCnt_btnDiv_ap">
						</div>
						<div id="graph_timeStCnt_btnDiv_cc"  style="display:none">
						</div>
						<div id="graph_timeStCnt_btnDiv_odc"  style="display:none">
						</div>
					</center>
				</div>
				<br>


				<div id="stackBy_zoomBy" style="display:none">
					Stack by:
					<button id="stackBy_isoCount" class="btn btn-sm btn-default-outline-spe"> Isolate count </button>
					<button id="stackBy_StNum" class="btn btn-sm btn-default-outline-spe"> ST identifier </button> &nbsp;

					Zoom by:
					<span id="zoomBy_time" style="display:none">
						<button id="zoomBy_year" class="btn btn-sm btn-default-outline-spe"> Year </button>
						<button id="zoomBy_month" class="btn btn-sm btn-default-outline-spe"> Month </button>
						<button id="zoomBy_date" class="btn btn-sm btn-default-outline-spe"> Date </button>
					</span>
					<span id="zoomBy_location" style="display:none">
						<button id="zoomBy_continent" class="btn btn-sm btn-default-outline-spe"> Continent </button>
						<button id="zoomBy_country" class="btn btn-sm btn-default-outline-spe"> Country </button>
						<button id="zoomBy_state" class="btn btn-sm btn-default-outline-spe"> State </button>
						<button id="zoomBy_postcode" class="btn btn-sm btn-default-outline-spe"> Postcode </button>
					</span>


					{% url 'Blankdb:initial_projectIsolates' as page_initProj %}
					{% url 'Blankdb:search_projectDetail' as page_searchProj %}

					&nbsp; &nbsp; &nbsp;

					<span>
						Only highlight top <input id="input_topN"  size=4> </input> <button id="btn_topN" class="btn btn-sm btn-default-spe">Go</button> <span id="error_topN" class="error"> </span>
					<span>
					&nbsp; &nbsp; &nbsp;
					{% if request.path == page_initProj or request.path == page_searchProj %}
						<span>
							<button id="btn_bgStrains" class="btn btn-sm btn-default-outline-spe"> Background strains </button>
							
						</span>
					{% else %}

					{% endif %}


					<br>
					<br>

				</div>

				
				<div id="plot_timeStCount">
				</div>

				<div id="legend_timeStCount" overflow="scroll" class="border padding10">
					<div id="legend_timeStCount_heading">
						Legend of top 10 <br><span class="smMonospace">Identifier (Count of isolates)</span>
					</div>
					<div id="legend_timeStCount_plot">
					</div>
				</div>
				<br>
				Total isolates matching search are {{ isoCount }}. Of these, <span id="graph_timeStCount_totalNum"></span> isolates had MGTs assigned, of which <span id="graph_timeStCount_shownNum"></span> are shown in the graph.

				<br>
				<center>
					<a id="downloadAsSvg" href="#"> Download SVG (Right click and save linked file!)</a>
				</center>
			</div>
		</div>
		<br>
		<br>
		<div id="graph_timeLocStCnt" class="column bdr-default rounded padding10">
			<center>
				<h5 class="speHeading"> Visualize distribution of counts of isolates with STs, CCs or ODCs over time <i> and </i> location<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@graphTimeAndLoc" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button></h5>
			</center>
			<br>

			<center>
				<button id="btn_timeLocStCnt" class="btn btn-default-spe" onclick="javascript:Blankdb_getTimeLocStCont({{tabAps}}, {{tabCcs}});"> Load data </button>
			</center>

			<div id="loading_timeLocStCnt" style="display:none">
				Please wait, loading ...
			</div>



			<div id="g2_btnsAndPlot" style="display:none">
				<div>
					<center>
						<button id="g2_timeLocStCnt_btn_st" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g2_plotLvl1_stCcOdc(this.id);"> Sequence types </button>
						<button id="g2_timeLocStCnt_btn_cc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g2_plotLvl1_stCcOdc(this.id);"> Clonal complexes </button>
						<button id="g2_timeLocStCnt_btn_odc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g2_plotLvl1_stCcOdc(this.id);"> Outbreak detection clusters</button>
					</center>
				</div>
				<div>
					<center>
						<div id="g2_timeStCnt_btnDiv_ap">
							St Btns
						</div>
						<div id="g2_timeStCnt_btnDiv_cc" style="display:none">
							Cc btns
						</div>
						<div id="g2_timeStCnt_btnDiv_odc" style="display:none">
							Odc btns
						</div>
					</center>
				</div>
				<br>
				Zoom time by:
				<span id="g2_zoomBy_time">
					<button id="g2_zoomBy_year" class="btn btn-sm btn-default-outline-spe"> Year </button>
					<button id="g2_zoomBy_month" class="btn btn-sm btn-default-outline-spe"> Month </button>
					<button id="g2_zoomBy_date" class="btn btn-sm btn-default-outline-spe"> Date </button>
				</span>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				Zoom location by:
				<span id="g2_zoomBy_loc">
					<button id="g2_zoomBy_continent" class="btn btn-sm btn-default-outline-spe"> Continent </button>
					<button id="g2_zoomBy_country" class="btn btn-sm btn-default-outline-spe"> Country </button>
					<button id="g2_zoomBy_state" class="btn btn-sm btn-default-outline-spe"> State </button>
					<button id="g2_zoomBy_postcode" class="btn btn-sm btn-default-outline-spe"> Postcode </button>
				</span>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

				Color by:
				<span id="g2_colBy">
					<button id="g2_colBy_shannon" class="btn btn-sm btn-default-outline-spe"> Shannon equitability </button>
					<button id="g2_colBy_stCnt" class="btn btn-sm btn-default-outline-spe"> ST count </button>
					<button id="g2_colBy_isoCnt" class="btn btn-sm btn-default-outline-spe"> Isolate count </button>
				</span>
				<br>
				<br>

				<div id="g2_plot_timeLocStCnt">
				</div>

				Total isolates matching search are {{ isoCount }}. Of these, <span id="g2_summaryLine_totalNum"></span> isolates had MGTs assigned, of which <span id="g2_summaryLine_shownNum"></span> are shown in the graph.

				<center>
					<a id="g2_downloadAsSvg" href="#"> Download SVG (Right click and save linked file!)</a>
				</center>
			</div>
		</div>
		<br>
		<br>


		<div id="graph_mgtBreakdown" class="column bdr-default rounded padding10">
			<center>
				<h5 class="speHeading"> 
					Explore distribution of isolate counts within particular STs, CCs or ODCs<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@graphMgtBreakdown" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>
				</h5>
			</center>
			<br>

			<center>
				<button id="btn_g3_getInitData" class="btn btn-default-spe" onclick="javascript:Blankdb_getInitDataG3({{tabAps}}, {{tabCcs}});"> Load data </button>
			</center>

			<div id="loading_g3" style="display:none">
				Please wait, loading ...
			</div>

			<div id="btnsAndPlot_g3" style="display:none">
				<div id="mgtLvlBtns_g3" style="display:none">
					<center>

						<button id="g3_btn_st" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g3SwitchStCcOdc(this.id);"> Sequence types </button>
						<button id="g3_btn_cc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g3SwitchStCcOdc(this.id);"> Clonal complexes </button>
						<button id="g3_btn_odc" class="btn btn-default-outline-spe" onclick="javascript:Blankdb_g3SwitchStCcOdc(this.id);"> Outbreak detection clusters</button>

						<div id="g3_btnDiv_ap">
						</div>
						<div id="g3_btnDiv_cc"  style="display:none">
						</div>
						<div id="g3_btnDiv_odc"  style="display:none">
						</div>
					</center>
				</div>
				<br>

				<div id="g3_plot_mgtBreakdown">
					<table id="table_st" class="table table-bordered table-sm tableCenter">
					</table>

					<table id="table_cc" class="table table-bordered table-sm tableCenter">
					</table>

					<table id="table_odc" class="table table table-bordered table-sm tableCenter">
					</table>

				</div>
			</div>
		</div>

	</div>




	<div id="tabularViewDiv">
		{% if isolates|length > 0 %}

			{% if isAp %}
				<iframe style="display:none" onload="javascript:Blankdb_doApLayout( JSON.parse('{{isolates|escapejs}}'),  {{request.session.sessionVar}}, {{ isMgtColor|lower }}, {{ isDst|lower }}, {{colsInfo}}, {{tabAps}}, {{tabCcs}},  {{serverStatus}}, {{assignStatus}}, {{privStatus}} );"> </iframe>
			{% elif not isAp and not isGraphical %}
				<iframe style="display:none" onload="javascript:Blankdb_doCcLayout( JSON.parse('{{isolates|escapejs}}'), {{request.session.sessionVar}}, {{ isMgtColor|lower }}, {{colsInfo}}, {{tabAps}}, {{tabCcs}}, {{serverStatus}}, {{assignStatus}}, {{privStatus}} );"> </iframe>
			{% elif isGraphical %}

			{% endif %}

			<div id="mergedIdsInfo" style="display: none">
				<br>
				{% if mergedIds|safe and mergedIds != '{}'%}
					<script type="text/javascript">
						Blankdb_printCcMergeInfo({{mergedIds|safe}}, {{tabCcs|safe}});
					</script>
				{% endif %}
			</div>
			<br>


			<div id="div_displayBtns">
				<table>
					<tr>
						<td>
							<button id="btn_toggleDst" onclick="javascript:Blankdb_switchDisplayDst('btn_toggleDst', JSON.parse('{{isolates|escapejs}}'), {{request.session.sessionVar}}, {{colsInfo}}, {{tabAps}}, {{tabCcs}}, {{serverStatus}}, {{assignStatus}}, {{privStatus}});"
							{% if isDst %}
								class="btn btn-sm btn-default-spe"
							{% else %}
							 	class="btn btn-sm btn-default-outline-spe"
							{% endif %}
								> Display complete ST </button>
						</td>
						<td>
							<button id="btn_toggleCol" onclick="javascript:Blankdb_switchDisplayColor('btn_toggleCol', JSON.parse('{{isolates|escapejs}}'), {{request.session.sessionVar}}, {{colsInfo}}, {{tabAps}}, {{tabCcs}}, {{serverStatus}}, {{assignStatus}}, {{privStatus}});"
							{% if isMgtColor %}
								class="btn btn-sm btn-default-spe"
							{% else %}
								class="btn btn-sm btn-default-outline-spe"
							{% endif %}
							 > Display color </button>
						</td>
						<td>
							<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@dstAndCol" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>
						</td>
					</tr>
				</table>
				<br>
			</div>




			Total isolates found: {{ isoCount }}



			<div class="ownPagination">

				{% if pageInfo.has_other_pages and pageInfo.has_previous %}
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage( 1,  {{ request.session.sessionVar }} ,null);"> first (1) </button>
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.previous_page_number}},  {{ request.session.sessionVar }},null);"> prev ({{ pageInfo.previous_page_number }}) </button>
				{% endif %}

				Page {{ pageInfo.page }} of {{ pageInfo.num_pages}}

				{% if pageInfo.has_other_pages and pageInfo.has_next %}
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.next_page_number}},  {{ request.session.sessionVar }},null);"> next ({{ pageInfo.next_page_number }}) </button>
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.num_pages}}, {{ request.session.sessionVar }},null);"> last ({{ pageInfo.num_pages }}) </button>
				{% endif %}

				{% if pageInfo.has_other_pages %}
					Enter page number: <input id="nonConsecPageNum" type="text" size=2> </input> <button id="btnNonConsecPageNum" class="btn btn-sm btn-default-spe" onclick="javascript:Blankdb_checkAndGetPageNum('nonConsecPageNum', 1, {{pageInfo.num_pages}} , {{ request.session.sessionVar }} );"> Go </button> <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@pageNumGo" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button> <span id="pageNumErr" class="error"> </span> <span id="pageNumLoading" style="display:none"> Please wait, loading ... </span>
				{% endif %}


			</div>


			<div class="fixed">
				<table id="infoTable" class="table table-sm forScroll">
				</table>
			</div>

			<div class="ownPagination">

				{% if pageInfo.has_other_pages and pageInfo.has_previous %}
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage( 1,  {{ request.session.sessionVar }} ,null);"> first (1) </button>
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.previous_page_number}},  {{ request.session.sessionVar }},null);"> prev ({{ pageInfo.previous_page_number }}) </button>
				{% endif %}

				Page {{ pageInfo.page }} of {{ pageInfo.num_pages}}

				{% if pageInfo.has_other_pages and pageInfo.has_next %}
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.next_page_number}},  {{ request.session.sessionVar }},null);"> next ({{ pageInfo.next_page_number }}) </button>
					<button class="btn btn-link" onclick="javascript:Blankdb_getOtherPage({{pageInfo.num_pages}},  {{ request.session.sessionVar }},null);"> last ({{ pageInfo.num_pages }}) </button>
				{% endif %}

			</div>

			<br>
			<br>

			<div class="container">
				<div class="row">
					<div class="col-sm csvSearch" id="csvDownload">
						<button type=button class="btn btn-primary" onclick="javascript:Blankdb_doTheDownload({{ request.session.sessionVar }});">Download the entire set as CSV </button><button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@downloadAsCsv" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button><br>
					</div>
					<div class="col-sm">
						<button id="btnMgt9Download" title="For phylogeny generation with other tools" type=button class="btn btn-primary" onclick="javascript:Blankdb_downloadMgt9Aps({{ request.session.sessionVar }}, btnMgt9Download);">Download {{ tabAps|getLargestLevelName }} allelic profiles </button><button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@downloadAsAps" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button> <br>
						<input type="checkbox" id="isGrapeTree" name="nm_isGrapeTree"></input>
						<label for="nm_isGrapeTree"> In GrapeTree format </label><br>
					</div>
					<div class="col-sm">
						<button id="viewInMicroReact" title="Send data to Microreact and visualize there." type=button class="btn btn-primary" onclick="javascript:Blankdb_sendToMicroreact({{ request.session.sessionVar }}, viewInMicroReact);">Download for Microreact </button><button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@viewInMicroReact" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button>
					</div>
				</div>
			</div>

			<br>

			<div id="fetchingcsv" style="display: none">
				<p> Fetching CSV . . . please wait. This may take a few minutes (we apologise for the delay!). </p>
			</div>


		{% endif %}
	</div>

</div>
<br>
<br>
