{% extends "Blankdb/base.html" %}

{% block title_local %}
Isolate details
{% endblock %}

{% load static %}

{% block head_static %}

<script type="module" src="{% static 'Blankdb/javascript/isolateDetail.js' %}"></script>


<link rel="stylesheet" href="{% static 'Blankdb/css/graph_timeOrLocStCount.css' %}">

<script src="{% static 'Blankdb/javascript/simpleHelpers.js' %}"></script>

<script src="{% static 'Blankdb/javascript/helps.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'Blankdb/css/isolateDetail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Blankdb/css/isolateTable.css' %}">


<link rel="stylesheet" href="{% static 'Blankdb/css/graphicalView.css' %}">


<script src="https://d3js.org/d3.v6.min.js"></script>


{% endblock %}


{% block body_local %}

{% load common %}
{% load countries %}


<br>
<h3 class="speHeading"> Isolate details: {{ isolate.identifier }}<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@isolateDetail" onclick="theHelpFns(this);"><span class='fas fa-info-circle'> </span></button></h3>


<br>

{% with theIsolateJson|loadjson as theIsolate %}
	<table class="table is-bordered" id="tableMain">
		{% for col in colsInfo %}
			{% if col.table_name != 'id' and col.t_search != 'v' and col.table_name != 'mgt_id' %}
				<tr>
					<td>
						<i> {{ col.display_name }} </i>
					</td>
					{% if theIsolate.0|getValue:col.db_col %}
						{% with val=theIsolate.0|getValue:col.db_col%}
							{% if col.table_name == 'server_status' %}
								<td title="Click to select." id="{{col.table_name}}" onmouseenter='Blankdb_doSimHl("{{col.table_name}}", "theHl");' onmouseleave='Blankdb_removeSimHl("{{col.table_name}}", "theHl");' onclick='Blankdb_doSmpToggle("{{col.table_name}}",  "theSel");' class="theLightYellow">
									{{ serverStatusChoices|getValue:val }}
								</td>
							{% elif col.table_name == 'assignment_status' %}
								<td id="{{col.table_name}}" title="Click to select."  onmouseenter='Blankdb_doSimHl("{{col.table_name}}", "theHl");' onmouseleave='Blankdb_removeSimHl("{{col.table_name}}", "theHl");' onclick='Blankdb_doSmpToggle("{{col.table_name}}",  "theSel");' class="theLightYellow">
									{{ assignStatusChoices|getValue:val }}
								</td>
							{% elif col.table_name == 'privacy_status' %}
								<td id="{{col.table_name}}" title="Click to select."  onmouseenter='Blankdb_doSimHl("{{col.table_name}}", "theHl");' onmouseleave='Blankdb_removeSimHl("{{col.table_name}}", "theHl");' onclick='Blankdb_doSmpToggle("{{col.table_name}}",  "theSel");' class="theLightYellow">
									{{ privStatusChoices|getValue:val }}
								</td>
							{% elif col.table_name == 'mgt1' %}
								<td id="{{col.table_name}}" title="Click to select."  onmouseenter='Blankdb_doSimHl("{{col.table_name}}", "theHl");' onmouseleave='Blankdb_removeSimHl("{{col.table_name}}", "theHl");' onclick='Blankdb_doSmpToggle("{{col.table_name}}",  "theSel");' class="theLightYellow">
									{{ val }}
								</td>
							{% else %}
								{% if col.t_search == 'iM_l' or col.t_search == 'iM_i' or col.table_name == 'project_id'%}
									<td id="{{col.t_search}}.{{col.table_name}}" title="Click to select."  onmouseenter='Blankdb_doSimHl("{{col.t_search}}.{{col.table_name}}", "theHl");' onmouseleave='Blankdb_removeSimHl("{{col.t_search}}.{{col.table_name}}", "theHl");' onclick='Blankdb_doSmpToggle("{{col.t_search}}.{{col.table_name}}",  "theSel");' class="theLightYellow">
										{{ val }}
									</td>
								{% else %}
									<td>
										{{ val }}
									</td>
								{% endif %}
							{% endif %}
						{% endwith %}
					{% else %}
						<td>
							-
						</td>
					{% endif %}
				</tr>
			{% endif %}
		{% endfor %}

	</table>
{% endwith %}

{% if isolate.assignment_status == 'A' %}
	<table class="table is-bordered is-narrow" id="tab_isoApCc">
		<tr>
			<td>
				<b> Sequence types </b>
			</td>

			{% for ap in tabAps|dictsort:"display_order" %}
				<td>
					<i> {{ ap.display_name }} </i>
				</td>
			{% endfor %}
		</tr>
		<tr id="rowAp">
			<script type="text/javascript">

				$(document).ready(function() {
					Blankdb_rowLayoutApCc("rowAp", {{ tabAps|safe }}, {{colsInfo|safe}}, {{theIsolateJson|safe}}, true, null);
				});
			</script>
		</tr>
		<tr>
			<td> <b> Clonal clusters </b> </td>
			{% for cc in tabCcs|dictsort:"display_order" %}
				{% if cc.display_table == 1 %}
					<td>
						<i> {{ cc.display_name }} </i>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
		<tr id="rowCc">
			<script type="text/javascript">
				$(document).ready(function() {
					Blankdb_rowLayoutApCc("rowCc", {{ tabCcs|safe }}, {{ colsInfo|safe }}, {{ theIsolateJson|safe}}, false, 1);
				});
			</script>
		</tr>
		<tr>
			<td> <b> Outbreak detection clusters </b> </td>
			{% for cc in tabCcs|dictsort:"display_order" %}
				{% if cc.display_table == 2 %}
					<td>
						<i> {{ cc.display_name }} </i>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
		<tr id="rowEpi">
			<script type="text/javascript">
				$(document).ready(function() {
					Blankdb_rowLayoutApCc("rowEpi", {{ tabCcs|safe }}, {{ colsInfo|safe }}, {{ theIsolateJson|safe}}, false, 2);
				});
			</script>
		</tr>
	</table>
{% endif %}


{% if user.is_authenticated %}
	{% if isUserIso %}


		{% if isolate.file_alleles %}
			Uploaded file name: {{ isolate.file_alleles.name|filenameOnly }}
		{% elif isolate.file_forward and isolate.file_reverse %}
			Uploaded forward file:
			{{ isolate.file_forward.name|filenameOnly }} <br>
			Uploaded reverse file: {{ isolate.file_reverse.name|filenameOnly }}
		{% elif isolate.file_assembly %}
			Uploaded assembly file: 
			{{ isolate.file_assembly.name|filenameOnly }}
		{% endif %}
		<br>
		<br>


		<a href="{% url 'Blankdb:isolate_edit' isolate.id %}"  class="btn btn-outline-warning">Edit</a>

		<a href="{% url 'Blankdb:isolate_delete' isolate.id %}" class="btn btn-outline-danger">Delete</a>

		<a href="{% url 'Blankdb:project_detail' isolate.project.id %}" class="btn btn-outline-secondary">Back to project</a>
	{% endif %}
{% endif %}
<br>
<br>
<br>


<button id="searchSimStrains" class="btn btn-default-spe" onclick="isolateDetailSearch('{% url 'Blankdb:search_isolateDetail' %}', {{assignStatusChoices}}, {{serverStatusChoices}}, {{privStatusChoices}});"> Search </button> &nbsp;

<button class="btn btn-default-outline-spe" onclick='Blankdb_clearHlSelection("theSel");'> Clear selection </button>


<br>
<br>

<div id="isoDet_searchTab">
	<hr>
	<p class="subtitle is-4"> Similar strains <span class="button" onclick="javascript:activateTheModal('simStrainsPuIso');"> ? </span> </p>

	<div id="ajaxSearching">
		<p> Searching . . . please wait. </p>
	</div>

	<div id="wrapper">
		{% include 'Blankdb/isolateTable.html' %}
	</div>



	<script type="text/javascript">



		$(document).ready(function() {
			$('#isoDet_searchTab').hide();
			$('#ajaxSearching').hide();
			$('#isolateTable').hide();
			console.log("document ready, call ajax to load and get data.");

			Blankdb_bindEnterToSearch("searchSimStrains");

		});



	</script>
</div>


{% include 'Blankdb/modal.html' %}
{% endblock %}


# https://stackoverflow.com/questions/2170228/iterate-over-model-instance-field-names-and-values-in-template
