{% extends "Blankdb/base.html" %}


{% block head_static %}
{% load static %}
<script src="{% static 'Blankdb/javascript/theDatePicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Blankdb/css/isolateCreateEdit.css' %}">
{% endblock %}


{% block title_local %}
Edit isolate
{% endblock %}

{% block body_local %}
<h2 class="title is-3"> Edit isolate </h2>

<form action="" method="post">
	{% csrf_token %}

	<table>
		{{ form_iso.as_table }}
	</table>

	<br>
	<br>

	<p class="title is-5"> Location </p>
	<table>
		{{ form_loc.as_table }}
	</table>

	<br>
	<br>

	<p class="title is-5"> Isolation </p>
	<table>
		{{ form_isln.as_table }}
	</table>

    <input type="submit" value="Update" class="btn btn-outline-secondary">
</form>



{% endblock %}
