{% extends "Blankdb/base.html" %}

{% block head_static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Blankdb/css/isolateCreateEdit.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Blankdb/css/isolateTable.css' %}">

<script src="{% static 'Blankdb/javascript/dropzone.js' %}"></script>
<link href="{% static 'Blankdb/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>

{% if isolate|length != 0 %}
	<script type="text/javascript">
		Dropzone.options.myAwesomeDropzone = false;

		$(function(){

			var myDropzone = new Dropzone("#myAwesomeDropzone", {
				maxFiles: {{ isolates|length }},
				maxFilesize: 10, // MB
				acceptedFiles: "*.fa,*.fasta",
				createImageThumbnails: false,
				dictDefaultMessage: "Drop or click here to upload your files",
				// addRemoveLinks: true,
				uploadMultiple: true,
			});

			// console.log("here!!");

			// myDropzone.on("sending", function(file, xhr, formData) {
			  // Will send the filesize along with the file as POST data.
			//   formData.append("filesize", file.size);
			// });

			myDropzone.on("totaluploadprogress", function (progress) {
				$("#the-progress-div").width(progress + '%');
				$(".the-progress-text").text('Uploaded: ' + progress + '%');

				console.log(progress);
			});

			myDropzone.on("success", function(file){
				$(".dz-success-mark svg").css("background", "green");
				$(".dz-error-mark").css("display", "none");
				console.log("Over here!");
				// refresh display table? (will require ajax load)
			});
			myDropzone.on("error", function(file) {
				$(".dz-error-mark svg").css("background", "red");
				$(".dz-success-mark").css("display", "none");
				console.log("This is error");
			});

		});

		myDropzone.on("addedfile", function(file) {
		   /* Maybe display some more file information on your page */
		   console.log("Added file" + file);
		 });

	</script>
{% endif %}

{% endblock %}

{% block title_local %}
Upload isolate allele files
{% endblock %}

{% block body_local %}
{% load common %}
<div class="container-fluid">


	<br>
	<h2 class="speHeading"> Project: {{ project.identifier }} </h2>

	<br>

	<h4 class="speHeading"> Upload multiple allele files </h4>

	{% if isolates|length == 0 %}
		<br>
		<i> No isolates awaiting files in this project. </i>
	{% else %}

		<div id="uploadFilesDiv">
			<br>
			<form class="dropzone" id="myAwesomeDropzone" action="{% url 'Blankdb:isolate_create_bulk_al' project.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="fallback">
					<input name="file" type="file" multiple />
				</div>

				Click or drop files here!
			</form>
			<br>

		</div>

		<div id="the-progress-div">
			<span class="the-progress-text"></span>
		</div>



		<br>
		<br>


		<h4 class="speHeading"> Expecting files for the following isolates: </h4>

		<table class="table table-bordered">
			<tr class="tblHeaderRow">
				{% for colName in  IsoColNames %}

					<th class="bdr-default">
						<p>{{ colName }} </p>
					</th>

				{% endfor %}
			</tr>
			{% for isolate in isolates %}
				<tr>
					<td>
						{% if isolate.identifier %}
							{{ isolate.identifier }}
						{% else %}
							-
						{% endif %}
					</td>

					<td>
						{% if isolate.project_id__identifier %}
							{{ isolate.project_id__identifier }}
						{% else %}
							-
						{% endif %}
					</td>

					<td>
						{% if isolate.serovar %}
							{{ isolate.serovar }}
						{% else %}
							-
						{% endif %}
					</td>


					<td>
						{% if isolate.privacy_status %}
							{{ privStatus|getValue:isolate.privacy_status }}
						{% else %}
							-
						{% endif %}
					</td>

					<td>
						{% if isolate.servre_status %}
							{{ serverStatus|getValue:isolate.server_status }}
						{% else %}
							-
						{% endif %}
					</td>

					<td>
						{% if isolate.tmpFn_alleles %}
							{{ isolate.tmpFn_alleles }}
						{% else %}
							-
						{% endif %}
					</td>

					<td>
						{% if isolate.location_id__continent %}
							{{ isolate.location_id__continent }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.location_id__country %}
							{{ isolate.location_id__country }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.location_id__state %}
							{{ isolate.location_id__state }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.location_id__postcode %}
							{{ isolate.location_id__postcode }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__source  %}
							{{ isolate.isolation_id__source }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__type %}
							{{ isolate.isolation_id__type }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__host  %}
							{{ isolate.isolation_id__host }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__disease  %}
							{{ isolate.isolation_id__disease }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__date %}
							{{ isolate.isolation_id__date }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__year  %}
							{{ isolate.isolation_id__year }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if isolate.isolation_id__month  %}
							{{ isolate.isolation_id__month }}
						{% else %}
							-
						{% endif %}
					</td>

				</tr>
			{% endfor %}
		</table>
	{% endif %}

	<br>

	<a class="btn btn-default-spe" href="{% url 'Blankdb:project_detail' project.id %}"> View project details </a>
	<br>
	<br>
</div>



{% endblock %}
