{% extends "Home/base.html" %}

{% block titleName %}Reset Password{% endblock %}

{% block page_content %}

<h3 class="title is-3"> Reset password </h3>

<p>Please specify your email address to receive instructions for resetting it.</p>
<br>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input class="btn btn-info" type="submit" value="Reset password" /></p>
</form>


{% endblock %}
