{% extends "Home/base.html" %}



{% block head_static %}
{% load static %}


{% endblock %}



{% block nav-species %} <a class="navFirst nav-link active" href="{% url 'Home:index' %}">Species</a> {% endblock %}

{% block titleName %}
{% block title_local %}{% endblock %}
{% endblock %}



{% block page_content %}
{% load for_display %}





<link rel="stylesheet" type="text/css" href="{% static 'MGTdb_shared/css/base.css' %}">

<ul class="nav nav-tabs navBarSecond">
	<li class="nav-item">
		{% block navSec-specieInfo %} <a class="navSecond nav-link" href="{% url organism|stringformat:'s:index' %}">{{ request.session.organism|safe }}</a> {% endblock %}
	</li>
	<li class="nav-item">
		{% block navSec-allIso %} <a class="navSecond nav-link" href="{% url organism|stringformat:'s:isolate_list' %}">All isolates</a> {% endblock %}
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item">
			{% block navSec-allProj %} <a class="navSecond nav-link" href="{% url organism|stringformat:'s:project_list' %}">Projects</a> {% endblock %}
		</li>
	{% endif %}
	<li class="nav-item">
		{% block navSec-sumRep %} <a class="navSecond nav-link" href="{% url organism|stringformat:'s:summaryReport' %}">Summary report</a> {% endblock %}
	</li>
</ul>





<div class="container-fluid">
	{% block body_local %}{% endblock %}
</div>

{% endblock %}
