{% extends 'Templates/base.html' %}

{% block head_static %}
{% load static %}

{% endblock %}

{% block title_local %}
Bulk upload instructions.
{% endblock %}

{% block body_local %}
<div class="container-fluid">
	<br>
	<h2 class="speHeading"> How to fill in the spreadsheet to upload multiple isolates </h2>
	<br>


	<h4 class="speHeading"> Required fields (or columns)  </h4>

	The following fields are required:
	<ul>
		<li> Isolate identifier </li>
		<li> Allele filename </li>
		<li> Privacy status </li>
		<li> Continent </li>
		<li> Country </li>

	</ul>

	<h4 class="speHeading"> Additional fields (or columns) </h4>

	<ul>

		<li> State </li>
		<li> Postcode </li>
		<li> Source </li>
		<li> Type </li>
		<li> Host </li>
		<li> Disease </li>
		<li> Date </li>
	</ul>

	<table class="table table-bordered">

		<tr>
			<th>
				Field name
			</th>
			<th>
				Is it required
			</th>
			<th>
				Format
			</th>
			<th>
				Description
			</th>
		</tr>

		<tr>
			<td>
				Isolate identifier
			</td>
			<td>
				Yes
			</td>
			<td>
				Any alphabets, numbers, <b>_</b> or <b> - </b>.
			</td>
			<td>
				An identifier to the isolate. The chosen name has to be unique within a project.
			</td>
		</tr>

		<tr>
			<td>
				Allele filename
			</td>
			<td>
				Yes
			</td>
			<td>
				Any alphabets, numbers, <b>.</b>, <b> _ </b> and <b> - </b>.
			</td>
			<td>
				A filename (with a .fasta or .fa extention). A file with this name will be expected in stage 3 of the bulk allele upload process.
			</td>
		</tr>

		<tr>
			<td>
				Privacy status
			</td>
			<td>
				Yes
			</td>
			<td>
				Either <b> PU </b> or <b> PV </b>.
			</td>
			<td>
				Choose PU (for public) to make the Isolate and its meta data public and searchable by anyone using the database. Choose PV (for private) to make the Isolate and its meta data private and only searchable by the uploader.
			</td>
		</tr>

		<tr>
			<td>
				Continent
			</td>
			<td>
				Yes
			</td>
			<td>
				Either of the following options:
				<b> Africa </b>, <b> Antarctica </b>, <b> Oceania </b>, <b> North America </b>, <b> South America </b>, <b> Europe </b> or <b> Asia</b>.
			</td>
			<td>
				This field represents the continent in which the isolate was isolated.
			</td>
		</tr>

		<tr>
			<td>
				Country
			</td>
			<td>
				Yes
			</td>
			<td>
				The full list of allowable countries is presented <a href="#countriesList" class="speLink"> below. </a>
			</td>
			<td>
				This field represents the country in which the isolate was isolated.
			</td>
		</tr>

		<tr>
			<td>
				State (or sub-country)
			</td>
			<td>
				No
			</td>
			<td>
				Text.
			</td>
			<td>
				This field represents the state (or sub-country) in which the isolate was isolated. For example, "NSW" in Australia, or "England" in UK.
			</td>
		</tr>

		<tr>
			<td>
				Postcode (or Zipcode)
			</td>
			<td>
				No
			</td>
			<td>
				Numbers.
			</td>
			<td>
				This field represents the postcode (or zipcode) in which the isolate was isolated.
			</td>
		</tr>

		<tr>
			<td>
				Source
			</td>
			<td>
				No
			</td>
			<td>
				Any text.
			</td>
			<td>
				Here, source represents, the sample source (or product). The source can be organic or non-organic. Some examples are: Eggs, Beef, Misc Food, live animal, Human. <br> To clarify, if for example, the "isolation host" is "chicken", the sample source may be "eggs". Another example, if the "isolation host" is "human", the sample source may also be "human".
			</td>
		</tr>

		<tr>
			<td>
				Type
			</td>
			<td>
				No
			</td>
			<td>
				Any text.
			</td>
			<td>
				Type represents the setting in which the isolate was isolated. Some examples are: Clinical, Other. <br> <br> The main goal of this field is to distinguish between human clinical samples and other samples (such as vetenary samples).
			</td>
		</tr>

		<tr>
			<td>
				Host
			</td>
			<td>
				No
			</td>
			<td>
				Any test.
			</td>
			<td>
				Here, host represents the isolation host organism e.g. chicken, Human.
			</td>
		</tr>

		<tr>
			<td>
				Disease
			</td>
			<td>
				No
			</td>
			<td>
				Any text.
			</td>
			<td>
				Disease refers to the disease that was observed in the isolated host. Some examples are: Gastroenteritis, sepsis.
			</td>
		</tr>

		<tr>
			<td>
				Date
			</td>
			<td>
				No
			</td>
			<td>
				In the format: <b> YYYY.MM.DD </b> or <b> YYYY-MM-DD </b>
			</td>
			<td>
				This field represents the date on which this isolate was isolated e.g. 2020-11-03 or 2020.11.03
			</td>
		</tr>

		<tr>
			<td>
				Year
			</td>
			<td>
				Yes
			</td>
			<td>
				Numbers.
			</td>
			<td>
				This field represents the year in which this isolate was isolated. The year provided here, and the year in the date are checked to make sure that they match.
			</td>
		</tr>

		<tr>
			<td>
				Month
			</td>
			<td>
				No
			</td>
			<td>
				Numbers, ranging from 1 to 12.
			</td>
			<td>
				The month in which this isolate was isolated. The month provided here, and the month in the date are checked to make sure that they match. If month is not provided, and date is provided, this field is automatically extracted.
			</td>
		</tr>


	</table>

	<h3 id="countriesList"> List of countries </h3>
		<ul>
		{% for country in countries %}
			<li> {{ country.1 }} </li>
		{% endfor %}
		</ul>
	<br>
	<br>
	<br>
</div>


{% endblock %}
