{% extends 'Templates/base.html' %}

{% block head_static %}
{% load static %}
<script src="{% static 'MGTdb_shared/javascript/isolateCreateEdit.js' %}"></script>
<script src="{% static 'MGTdb_shared/javascript/theDatePicker.js' %}"></script>
<script src="{% static 'MGTdb_shared/javascript/helps.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'MGTdb_shared/css/isolateCreateEdit.css' %}">


{% endblock %}

{% block title_local %}
Create new isolate
{% endblock %}

{% block body_local %}
<div class="container-fluid">
	<br>
	<h2 class="speHeading"> Create a new isolate </h2>
	<br>
	<div class="container">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<table class="table table-sm">
				{% for field in form_iso %}

					<tr {% if field.auto_id == 'id_file_assembly' %} id="row_assembly" {% endif %} style="visibility:{% if field.auto_id == 'id_file_assembly' and form_iso.isQuery.value == False %}hidden;{% else %}visible;{% endif %}">
						<td>
							<i> {{ field.label }}<a tabindex="0" id="{{field.name}}" class="btn" data-toggle="popover" data-html="true" data-trigger="focus"  data-original-title="Help" onclick="javascript:displayTheHelp(this.id, helpCreateEdit{{ field.name }});"><span class='fas fa-info-circle'></span></a> </i>
							{% if field.required == True or field.name == 'identifier' or field.name == 'privacy_status' or field.name == 'project'%}
							*
							{% endif %}
						</td>
						<td>
							{{ field }}
						</td>
						<td>
							{{ field.errors }}
						</td>
					</tr>

				{% endfor %}
			</table>


			{% for error in form_iso.non_field_errors %}
			   <div class="alert alert-danger">
				   <strong>{{ error|escape }}</strong>
			   </div>
		   {% endfor %}

			<br>
			<br>

			<h5 class="speHeading"> Location details </h5>
			<div class="container">
				<table class="table table-sm">
					{% for field in form_loc %}
						<tr>
							<td>
								<i> {{ field.label }}<a tabindex="0" id="{{field.name}}" class="btn" data-toggle="popover" data-html="true" data-trigger="focus"  data-original-title="Help" onclick="javascript:displayTheHelp(this.id, helpCreateEdit{{field.name}});"><span class='fas fa-info-circle'></span></a> </i>
								{% if field.required == True or field.name == 'continent' or field.name == 'country' %}
								*
								{% endif %}
							</td>
							<td>
								{{ field }}
							</td>
							<td>
								{{ field.errors }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>

			{% for error in form_loc.non_field_errors %}
			   <div class="alert alert-danger">
				   <strong>{{ error|escape }}</strong>
			   </div>
		   {% endfor %}

			<br>
			<br>

			<h5 class="speHeading"> Isolation details </h5>
			<div class="container">
				<table class="table table-sm">
					{% for field in form_isln %}
						<tr>
							<td>
								<i> {{ field.label }}<a tabindex="0" id="{{field.name}}" class="btn" data-toggle="popover" data-html="true" data-trigger="focus"  data-original-title="Help" onclick="javascript:displayTheHelp(this.id, helpCreateEdit{{field.name}});"><span class='fas fa-info-circle'></span></a> </i>
								{% if field.required == True or field.name == 'year' %}
								*
								{% endif %}
							</td>
							<td>
								{{ field }}
							</td>
							<td>
								{{ field.errors }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>

			{% for error in form_isln.non_field_errors %}
			   <div class="alert alert-danger">
				   <strong>{{ error|escape }}</strong>
			   </div>
		   {% endfor %}

			<br>
		    <input type="submit" value="Save" class="btn btn-default-spe">

		</form>
		<br>
	</div>
</div>


{% endblock %}
