{% extends 'Templates/base.html' %}
{% block title_local %}
Create project
{% endblock %}

{% block head_static %}
{% load static %}
<link rel="stylesheet" href="{% static 'MGTdb_shared/css/projects.css' %}">
{% endblock %}

{% block body_local %}
<div class="container">
	<br>
	<h2 class="speHeading"> Create a new project </h2>
	<br>

	<div class="container">
		<form action="" method="post">
			{% csrf_token %}
				<table class="table table-bordered">
			    	{{ form.as_table }}
				</table>
		    <input type="submit" value="Create" class="btn btn-default-spe"/>
			<a class="btn btn-default-outline-spe" href="{% url organism|stringformat:'s:project_list' %}"> Cancel </a>
		</form>
	</div>
</div>
{% endblock %}
